* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font: {
      family: arial, sans-serif;
      size: 22px;
   }
}

body {
   color: #0E5DDD;
   background-color: #eee;
}

a.link {
   text-decoration: none;
   color: inherit;

   cursor: pointer;

   &--active {
      font-weight: bold;
   }
}