<app-backdrop>
   <div class="container" #ngContentElement>
      <div class="form-container">
         <h1 class="header">{{ isUpdate ? "Edytowanie lotu" : "Nowy lot"}}</h1>
         <form class="form" ngForm #form="ngForm" (ngSubmit)="onFormSubmit()">
            <input *ngIf="isUpdate" name="flightID" type="hidden" [ngModel]="updateFlightID">
            <div class="form__element">
               <label for="number">Numer lotu</label>
               <input type="text" id="number" name="number" [ngModel]="updateFlightNumber" #number="ngModel" required pattern="^[A-Z]{2}\d{1,4}$">
               <p *ngIf="number.errors?.hasOwnProperty('required') && (number.touched || form.submitted)">Numer lotu jest wymagany</p>
               <p *ngIf="number.errors?.hasOwnProperty('pattern') && (number.touched || form.submitted)">Numer lotu musi składać się z 2 wielkich liter reprezentujących linię oraz od 1 do 4 cyfr</p>
            </div>
            <div class="form__element">
               <label for="departureDate">Data wylotu</label>
               <input type="datetime-local" id="departureDate" name="departureDate" [ngModel]="updateFlightDepartureDate" #departureDate="ngModel" required (ngModelChange)="validateFutureDate($event)">
               <p *ngIf="departureDate.errors?.hasOwnProperty('required') && (departureDate.touched || form.submitted)">Data i godzina jest wymagana</p>
               <p *ngIf="!isDateValid">Data nie może być przeszła</p>
               <p class="form__element__server-error" *ngIf="serverErrorMessage">{{serverErrorMessage}}</p>
            </div>
            <div class="form__element">
               <label for="departureCity">Miejsce wylotu</label>
               <input type="text" id="departureCity" name="departureCity" [ngModel]="updateFlightDepartureCity" #departureCity="ngModel" required maxlength="100">
               <p *ngIf="departureCity.errors?.hasOwnProperty('required') && (departureCity.touched || form.submitted)">Miejsce wylotu jest wymagane</p>
               <p *ngIf="departureCity.errors?.hasOwnProperty('maxlength') && (departureCity.touched || form.submitted)">Miejsce wylotu nie może mieć więcej niż 100 znaków</p>
            </div>
            <div class="form__element">
               <label for="arrivalCity">Miejsce przylotu</label>
               <input type="text" id="arrivalCity" name="arrivalCity" [ngModel]="updateFlightArrivalCity" #arrivalCity="ngModel" required maxlength="100">
               <p *ngIf="arrivalCity.errors?.hasOwnProperty('required') && (arrivalCity.touched || form.submitted)">Miejsce przylotu jest wymagane</p>
               <p *ngIf="arrivalCity.errors?.hasOwnProperty('maxlength') && (arrivalCity.touched || form.submitted)">Miejsce przylotu nie może mieć więcej niż 100 znaków</p>
            </div>
            <div class="form__element">
               <label for="aircraftTypeID">Typ samolotu</label>
               <select *ngIf="aircraftTypeOptions" id="aircraftTypeID" name="aircraftTypeID" [ngModel]="updateFlightAircraftTypeID" required>
                  <option *ngFor="let option of aircraftTypeOptions" [value]="option.aircraftTypeID">{{option.name}}</option>
               </select>
               <p *ngIf="form.controls.aircraftTypeID?.errors?.required &&(form.controls.aircraftTypeID?.touched || form.submitted)">Typ samolotu jest wymagany</p>
            </div>
            <div *ngIf="!isLoading" class="form__buttons">
               <button type="submit" class="form__buttons__submit">{{ isUpdate ? 'Edytuj' : 'Dodaj' }} lot</button>
               <button type="button" class="form__buttons__cancel" (click)="onReturnToLastPage()">Anuluj</button>
            </div>
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
         </form>
      </div>
   </div>
</app-backdrop>