.flight {
   background-color: #fff;
   box-shadow: 0 0 3px 0 black;
   border-radius: 5px;
   margin-bottom: 20px;
   padding-bottom: 10px;

   @media(max-width: 730px) {
      font-size: .8rem;
   }

   @media(max-width: 500px) {
      font-size: .55rem;
   }

   &__route {
      display: flex;
      padding: 15px 10px;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      // background-color: green;

      &__city {
         display: flex;
         flex-basis: 20%;
         align-items: center;

         p {
            width: min-content;
         }
      }

      &__departure {
         justify-content: flex-end;

         i {
            margin-left: 5px;
         }
      }

      &__arrival {
         justify-content: flex-start;

         i {
            margin-right: 5px;
         }
      }

      &__path {
         border-bottom: 4px dotted;
         height: 0;
         flex-grow: 1;
         min-width: 25%;
         margin: 0 5px;
         align-self: center;
      }

      @media (max-width: 600px) {
         font-size: .8rem;
      }
   }

   &__number, &__aircraft {
      text-align: center;
      margin-bottom: 10px;
   }

   &__date {
      display: flex;
      justify-content: space-evenly;

      &__part {
         margin: 10px auto;

         i {
            margin-right: 5px;
         }
      }
   }

   &__options {
      margin: 10px auto;
      display: flex;
      justify-content: center;

      &__edit, &__delete {
         position: relative;
         // background-color: red;

         app-item-disabled-message {
            display: none;
         }
      }

      &--disabled {
         p:hover {
            app-item-disabled-message {
               display: block;
            }
         }
      }

      &__edit {
         text-align: right;
         margin-right: 20px;
      }

      &__delete {
         margin-left: 20px;
      }

      i {
         color: #0E5DDD;
      }

      &--disabled {
         i {
            color: #0E5DDD88;
         }
      }
   }
}