<header class="header">
   <div class="logo" [ngClass]="{'logo--small': !biggerWidth}">
         <img
            class="logo__image"
            [src]="biggerWidth ? 'assets/Logo/logo-transparent.png' : 'assets/Logo/logo-icon-transparent.png'"
            alt="Flight Manager logo"
         >
   </div>
   <nav class="navbar">
      <ul class="navbar__list" [ngClass]="{'navbar__list--smaller': !biggerWidth}">
         <li class="navbar__list__item">
            <a class="link" [routerLink]="['new-flight']" routerLinkActive="link--active" [routerLinkActiveOptions]="{exact: true}">Dodaj lot</a>
         </li>
         <li class="navbar__list__item">
            <a *ngIf="!isAuthenticated" class="link" [routerLink]="['login']" routerLinkActive="link--active" [routerLinkActiveOptions]="{exact: true}">Zaloguj się</a>
            <a *ngIf="isAuthenticated" class="link" [routerLink]="['login']" routerLinkActive="link--active" [routerLinkActiveOptions]="{exact: true}">Zaloguj się</a>
         </li>
      </ul>
   </nav>
</header>
<router-outlet></router-outlet>